<div class="main-panel" style="width: 120px; height: 100px; text-align: left;padding: 10px; background-color: #fff;">
    <h4 style="margin: 0px;">Locations</h4>
    <div style="float: left; overflow: scroll;height: 90px;">
        <ul class="menu" style="display: inline-block;list-style-type: none; margin: 0; padding: 0">
            <li >Pubs</li>
            <li >Clubs</li>
            <li >Restaurants</li>
            <li >Businesses</li>
            <li >Hotels</li>
            <li >Motels</li>
            <li >Beauty & Spas</li>
            <li >Breakfast & Brunch</li>
            <li >Shopping</li>
            <li >Nightlife</li>
        </ul>
    </div>

</div>
