html, body, #mymap {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div.map-panel {
    margin-right: 25px;
    background: #f5f2f0;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    outline: none;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
}

.actions {
    margin: 25px;
    marginBottom: 22px;
}
.actions div {
    cursor: pointer;
    color: rgba(0,0,0,.8);
    line-height: 0.5;
    margin: 0.25em .25em;
    padding: .5em .8em;
    border-radius: .2857rem;
    font-size: 1rem;
    color: white;
    background-color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.actions div:hover {
    color: #ffff00;
}
